{% extends "layouts/main.html" %}
{% set active_page = "overview" %}
{% block page_content %}

    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Points</th>

        </tr>

        {% for user in users %}
            <tr>
                <td>
                    {% if session['current_user_email'] == user['email'] %}
                        <strong>
                    {% endif %}
                    {{ user['fullname'] }}
                    </strong>
                </td>
                <td>
                    {% if session['current_user_email'] == user['email'] %}
                        <strong>
                    {% endif %}
                    {{ user['points'] }}
                    </strong>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}