<!DOCTYPE html>
<html>
<head>
    <title>SynePointsApp</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" media="screen" rel="stylesheet">
    <style type="text/css">
        .container {
            max-width: 500px;
            padding-top: 100px;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

    </style>
</head>
<body>
<a class="btn btn-info btn-lg" href="/logout">
    <span class="glyphicon glyphicon-log-out"></span> Log out
</a>
<div class="container">
    {% block body %}
    {% endblock %}
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>