{% extends "bootstrap/base.html" %}

<head>
    <title>SynePointsApp</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    {% block styles %}
        {{ super() }}

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="{{ url_for('.static', filename='styles/default_style.css') }}"
              rel="stylesheet">

    {% endblock %}
</head>
<body>

{% set active_page = active_page|default('overview') -%}

{% block content %}
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #27ad7a;">
            <a class="navbar-brand" href="/"> <img src="/static/images/logo.png" alt="Logo" style="width:86px;"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ">

                    <li class="nav-item active"
                            {% if active_page == "overview" %} style="background-color: #5dc19b;" {% endif %}>
                        <a class="nav-link" href="/">Overview <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active"
                            {% if active_page == "tasks" %} style="background-color: #5dc19b;" {% endif %}>
                        <a class="nav-link" href="/tasks">Tasks <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown active"
                            {% if active_page == "prizes" or active_page == "requests" or active_page == "rewards" %}
                        style="background-color: #5dc19b;" {% endif %}>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Prizes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/prizes">Get Prizes</a>
                            <a class="dropdown-item" href="/requests">Requests</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/rewards">How can I get points?</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    <li><a href="/logout" class="nav-link glyphicon glyphicon-log-out"></a></li>
                </ul>
            </div>
        </nav>

        <div class="row">
            <div class="col-lg-12 col-centered">
                {% block page_content %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>