{% extends "bootstrap/base.html" %}

<head>
    <title>SynePointsApp</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    {% block styles %}
    {{super()}}
    <link href="{{url_for('.static', filename='styles/default_style.css')}}"
          rel="stylesheet">
    {% endblock %}
</head>
<body>

{% block content %}
<div class="container">

    <nav class="navbar navbar-expand navbar-dark" style="background-color: #27ad7a;">

        <div class="box nav-item active">
            <!-- TODO: redirect to '/' ? -->
            <a href="/users" class="btn nav-link mr-auto navbutton">Overview</a>
        </div>

        <div class="box nav-item active">
            <a href="/prizes" class="btn nav-item mr-auto navbutton">Prizes</a>
        </div>
        <div class="box nav-item active">
            <a href="/tasks" class="btn nav-item mr-auto navbutton">Tasks</a>
        </div>
        <div class="box nav-item active">
            <a href="/logout" class="btn nav-item mr-auto navbutton">Logout</a>
        </div>
    </nav>

    <br>
    <div class="row">
        {% block page_content %}{% endblock %}
    </div>
</div>
{% endblock %}
</body>
</html>