<!DOCTYPE html>
<html>
<head>
    <title>SynePointsApp</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" media="screen" rel="stylesheet">
    <style type="text/css">
        .container {
            max-width: 500px;
            padding-top: 100px;
        }
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
<div class="container">
    <table style="width:100%">
        <tr>
            <th>Email</th>
            <th>Points</th>
        </tr>

        {% for user in my_list %}
        <tr>
            <td>{{user['email']}}</td>
            <td>{{user['points']}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>

    <form action="/users" method="post">
        Email:<br>
        <input name="email" type="text" >
        <br>
        Points:<br>
        <input name="points" type="number" >
        <br><br>
        <input class="btn btn-primary" name="submit_button" type="submit" value="add_user"/>
    </form>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>