html {
    font-size: 100%;
}

.container {
    max-width: 750px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.navbar-nav > li > a:focus {
    background-color: #5dc19b;
    color: black
}

a.card-button {
    color: whitesmoke;
    background-color: #27ad7a;
    border-color: #27ad7a;
}

input.btn-primary {
    background-color: #27ad7a;
    border-color: #27ad7a;
}

button.btn-primary {
    background-color: #27ad7a;
    border-color: #27ad7a;
}

input.btn-primary:hover {
    background-color: #5dc19b;
    border-color: #27ad7a;
}

button.btn-primary:hover {
    background-color: #5dc19b;
    border-color: #27ad7a;
}